<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{{pageTitle}}}</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header>
        <nav>
            <h1 class="txtcenter">Homepage</h1>
        </nav>
    </header>
    <main>
        <div class="condiv">
            <form class="form" action="/add-user" method="POST">
                <div>
                    <label style="font-size: 18pt;">User</label>
                </div>
                <div>
                    <input type="text" name="user" class="inp">
                </div>
                <div>
                    <button class="btn" type="submit">Add User</button>
                </div>
            </form>
        </div>
        
    </main>
</body>
</html>