<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header class="header">
        <nav>
            <h1 class="text">User List</h1>
        </nav>
    </header>
    <main>
        <div class="div">
            <ul class="list">
                <li class="list-item">User 1</li>
                <li class="list-item">User 2</li>
                <li class="list-item">User 3</li>
                <li class="list-item">User 4</li>
                <li class="list-item">User 5</li>
            </ul>
        </div>
    </main>
</body>
</html>